.coursesBlock {
  width: 100%;
  margin-top: 75px;
  padding-bottom: 111px;

  h1 {
    max-width: 600px;
    margin-bottom: 28px;
    letter-spacing: -0.04em;
  }

  p {
    font-size: 30px;
    line-height: 130%;
    letter-spacing: -0.03em;
  }

  .cards_container {
    margin-top: 60px;
  }

  @media (max-width: 1440px) {

    p {
      font-size: 25px;
    }
  }

  @media (max-width: 1260px) {
    .cards-container {
      flex-direction: column;
      grid-row-gap: 30px;
    }
  }

  @media (max-width: 767px) {
    margin-top: 24px;
    padding-bottom: 57px;

    h1 {
      margin-bottom: 20px;
    }

    .subtitle {
      color: #9090a9;
    }

    .cards_container {
      margin-top: 33px;
    }

    p {
      font-size: 19px;
    }
  }
}